@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

.relativeParent {
    position: relative;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-left: 0px;
}

body {
    width: 100%;
    background-color: black;
}

header nav {
    padding: 20px 0px;
    background-color: black;
    letter-spacing: .2rem;
    font-size: small;
    width: 100%;
    justify-content: center;
}

header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    text-align: center;
}

header ul li {
    display: inline-block;
}

header ul a:link,
header ul a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

section ul a:link,
section ul a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.button {
    display: flex;
    flex-direction: column-reverse;
}

.button a:link,
.button a:visited {
    text-decoration: none;
    color: white;
    margin: 20px 0px;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    justify-items: center;
    background-color: rgb(0, 68, 255);
}

.button a:hover {
    background-color: brown;
}

section nav ul li {
    list-style: none;
}

header ul a {
    background-color: rgb(0, 68, 255);
    margin: 10px;
}

.visibility {
    display: none;
}

.container {
    width: 80%;
    margin: auto;
}

.nameBox h1 {
    font-weight: bold;
    color: white;
    font-size: 25px;
    position: absolute;
}

.nameBox h1:hover {
    letter-spacing: .1rem;
    transition: 1500ms linear;
}

.backgrounds {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
}

.backgroundBlue {
    background-color: blue;
    width: 25%;
}

.backgroundBlack {
    background-color: black;
    width: 75%;
}

.absolute {
    display: flex;
    position: absolute;
}

.nameBox {
    width: 80%;
    height: fit-content;
    margin: 60px 0px;
    background-color: transparent;
}

.nameBox p {
    color: aqua;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}

.fotoBox {
    width: 80%;
    margin: 150px 0px;
    height: fit-content;
    background-color: transparent;
}

body {
    font-family: 'Sen', sans-serif;
}

.fotoRosto {
    /*como colocar uma imagem circular com CSS*/
    width: 150px;
    height: 150px;
    border: 4px solid blue;
    background-size: 150px;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-image: url('https://yt3.ggpht.com/ytc/AKedOLTNwDxyzEnX5rT7wtcNLZ0O4tTqfjdrEEgdFb77KCY=s900-c-k-c0x00ffffff-no-rj');

}

.oldPicZup {
    width: 200px;
    height: 200px;
    background-size: 200px;
    margin: auto;
    background-position: initial;
    background-repeat: no-repeat;
    background-image: url('../img/zup.jpg');
    border-radius: 50%;
}

.podcastPicBox {
    padding-top: 40px;
    align-self: center;
}

.podcastBox p {
    height: fit-content;
    padding: 10px 0px;
}


.podcast {
    width: 300px;
    height: 200px;
    background-size: 400px;
    margin: auto;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/podcast.jpg');
}

header ul a:link,
header ul a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.paypalPic {
    width: 240px;
    height: 480px;
    border-radius: 15px;
    background-size: 360px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/paypal.png');
}

.bradPic {
    width: 240px;
    height: 480px;
    border-radius: 15px;
    background-size: 240px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/bradesco.png');
}


.cpqdPic {
    width: 240px;
    height: 480px;
    border-radius: 15px;
    background-size: 240px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/cpqd.png');
}

.beaglePic {
    width: 240px;
    height: 480px;
    background-size: 240px;
    border-radius: 15px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/Beagle.jpg');
}

.cetelemPic {
    width: 240px;
    height: 480px;
    background-size: 240px;
    border-radius: 15px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/cetelem.jpg');
}

.olePic {
    width: 240px;
    height: 480px;
    border-radius: 15px;
    background-size: 240px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/ole.png');
}

.magaluPic {
    width: 240px;
    height: 480px;
    border-radius: 15px;
    background-size: 240px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/magalu.png');
}

.projetos div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
}


main section {
    padding: 0px;
    color: white;
}

section .resumo p {
    padding: 20px 0px;
}

section .resumo h1 {
    padding: 40px 0px;
    text-align: center;
    color: rgb(228, 60, 60);
}

section .contatoBox h1 {
    padding: 40px 0px;
    text-align: center;
    color: rgb(228, 60, 60);
}

section .podHacka h1 {
    padding: 40px 0px;
    text-align: start;
    color: rgb(228, 60, 60);
}

section .projetos h1 {
    padding: 40px 0px;
    text-align: center;
    color: rgb(228, 60, 60);
}

section .projetos h3 {
    padding: 10px 0px;
    font-size: medium;
}

.fotoRosto:hover {
    background-size: 180px;
    border: 4px solid rgb(0, 110, 255);
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transition: 4000ms linear;
}

img {
    padding-bottom: 20px;
    width: 100%;
}

main section:nth-child(odd) {
    background-color: blue;
}

main section:nth-child(1) {
    background-color: black;
}

main section:nth-child(5) {
    padding-bottom: 150px;
}

main section:nth-child(4) {
    padding-bottom: 30px;
}

footer p {
    color: aqua;
    background-color: darkblue;
    font-size: small;
    padding-top: 15px;
}

footer {
    list-style: none;
    padding: 0px;
    background-color: darkblue;
    position: fixed;
    bottom: -95px;
    /*sempre que tiver position tem que definir a largura*/
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    transition: all 0.5s;
}

footer:hover {
    bottom: 0px;
}

footer ul li {
    display: inline-block;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    background-image: url('../img/instaBlack.png');
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-top: 60px;
    font-family: 'Oswald';
    transition: 0.5s;
    border-top: 3px solid rgb(0, 68, 255);
}


footer a.medium {
    background-image: url('../img/medium.jpg');
    color: rgb(16, 189, 16);
    background-size: 35px;
}

footer a.link {
    background-image: url('../img/linkedinColor.png');
    color: rgb(39, 151, 207);
    background-size: 35px;
}

footer a.git {
    background-image: url('../img/github.png');
    color: rgb(218, 165, 32);
    background-size: 35px;
}

footer a.yb {
    background-image: url('../img/youtube.png');
    color: red;
    background-size: 35px;
}

.contatoBox {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.contatoBox ul li {
    display: inline-block;
}

.contatoBox a:link,
.contatoBox a:visited {
    text-decoration: none;
    color: white;
    padding: 30px;
    background-image: url('../img/instaBlack.png');
    background-repeat: no-repeat;
    background-position: center 0px;
    background-size: 50px;
    padding-top: 60px;
    transition: 0.5s;
}

.contatoBox a:hover {
    color: aqua;
}

.contatoBox ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contatoBox ul li:nth-child(4) {
    background-color: transparent;
    color: white;
}

.contatoBox a.whats {
    background-image: url('../img/whatsapp.png');

}

.contatoBox a.telegram {
    background-image: url('../img/telegram.png');
}

.contatoBox a.email {
    background-image: url('../img/email.png');
}

.contatoBox a.up {
    background-image: url('../img/up.png');
}

.projetosBox .proj {
    border-radius: 20px;
    width: 300px;
    background-color: darkblue;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 25px 0;
}

.proj h5 {
    padding: 20px;
}

/*Desktop*/
@media screen and (min-width:960px) {
    .projetosBox .proj {
        border-radius: 20px;
        width: 300px;
        margin: 25px 25px;
        justify-content: center;
    }

    header ul {
        text-align: right;
        justify-content: flex-end;
        flex-direction: row;
    }

    header h1 {
        font-size: 50px;
    }

    header h2 {
        font-size: 26px;
    }

    .nameBox h1 {
        font-size: 60px;
        margin: 80px 130px;
    }

    header nav {
        display: flex;
        position: absolute;
        background-color: transparent;
        justify-content: flex-end;
    }

    .fotoRosto {
        width: 300px;
        height: 300px;
        background-size: 300px;
        border: 8px solid blue;
        margin: 70px 80px;
    }

    .nameBox {
        display: flex;
        width: 1200px;
        margin: 80px 0px;
        align-self: flex-start;
        justify-self: center;
        background-color: transparent;
    }

    .fotoBox {
        display: flex;
        width: 1200px;
        margin: 260px 0px;
        align-content: flex-end;
        justify-self: center;
        background-color: transparent;
    }

    .fotoRosto:hover {
        background-size: 330px;
        border: 8px solid rgb(0, 110, 255);
    }

    .nameBox p {
        margin: 180px 400px;
        font-size: large;
    }

    .backgrounds {
        display: flex;
        flex-direction: row;
        height: 800px;
    }

    .resumo {
        display: flex;
        flex-flow: row nowrap;
    }

    .oldPicBox {
        width: 300px;
        margin-right: 40px;
        align-self: center;
    }

    .resumoBox {
        width: 900px;
        text-align: justify;
        margin-top: 120px;
        margin-bottom: 40px;
    }

    .oldPicZup {
        width: 300px;
        height: 300px;
        background-size: 300px;
    }

    .podcast {
        width: 400px;
        height: 200px;
        background-size: 400px;
    }


    main section:nth-child(2) {
        margin-top: -150px;
    }

    main section .projetosBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .podHacka {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    .button {
        flex-direction: row;
    }

    .button li {
        margin-right: 20px;
    }

    footer {
        align-items: center;
    }

    footer:hover {
        bottom: 0px;
    }

    footer a:link,
    footer a:visited {
        color: white;
    }

    footer a.medium:hover {
        background-image: url('../img/medium.jpg');
        color: rgb(16, 189, 16);
        border-top: 3px solid rgb(16, 189, 16);
        background-size: 35px;
    }

    footer a.medium {
        background-image: url('../img/mediumBlack.png');
        background-size: 35px;
    }

    footer a.link:hover {
        background-image: url('../img/linkedinColor.png');
        color: rgb(39, 151, 207);
        border-top: 3px solid rgb(39, 151, 207);
        background-size: 35px;
    }

    footer a.link {
        background-size: 35px;
        background-image: url('../img/linkedinBlack.png');
    }


    footer a.git:hover {
        background-image: url('../img/github.png');
        color: rgb(218, 165, 32);
        border-top: 3px solid rgb(218, 165, 32);
        background-size: 35px;
    }

    footer a.git {
        background-size: 35px;
        background-image: url('../img/githubBlack.png');
    }

    footer a.yb:hover {
        background-image: url('../img/youtube.png');
        color: red;
        border-top: 3px solid red
    }

    footer a.yb {
        background-image: url('../img/youtubeBlack.png');
    }

    header ul a:hover {
        color: aqua;
    }

    .projetos div {
        padding: 20px;
    }

    .podcastPicBox {
        width: 450px;
        margin-left: 40px;
    }

    header ul a {
        background-color: transparent;
    }

    .nameBox h1:hover {
        letter-spacing: .2rem;
    }

    .contatoBox ul {
        flex-direction: row;
    }

    .contatoBox ul:nth-child(4) {
        display: flex;
        width: 100%;
        flex-direction: column;
    }
}

/*Tablet*/
@media screen and (min-width:720px) and (max-width:960px){


    header ul {
        text-align: right;
        justify-content: flex-end;
        flex-direction: row;
        font-size: smaller;
    }

    header nav {
        display: flex;
        position: absolute;
        background-color: transparent;
        justify-content: flex-end;
    }

    .nameBox h1 {
        font-size: xx-large;
        margin: -20px 100px;
    }

    .fotoRosto {
        width: 200px;
        height: 200px;
        background-size: 200px;
        border: 8px solid blue;
    }

    .nameBox {
        display: flex;
        width: 600px;
        margin: 120px 0px;
        align-self: flex-start;
        justify-self: center;
        background-color: transparent;
    }

    .fotoBox {
        display: flex;
        width: 650px;
        margin: 200px 0px;
        align-content: flex-end;
        justify-self: center;
        background-color: transparent;
    }

    .fotoRosto:hover {
        background-size: 290px;
        border: 8px solid rgb(0, 110, 255);
    }

    .nameBox p {
        margin: 40px 110px;
        font-size: medium;
    }

    .backgrounds {
        display: flex;
        flex-direction: row;
        height: 450px;
    }

    main section .projetosBox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0px 20px;
    }

    .button {
        flex-direction: row;
    }

    .button li {
        margin-right: 20px;
    }

    header ul a:hover {
        color: aqua;
    }

    header ul a {
        background-color: transparent;
    }

    .contatoBox ul {
        flex-direction: row;
    }

    .paypalPic {
        width: 190px;
        height: 380px;
        background-size: 280px;
    }

    .bradPic {
        width: 190px;
        height: 380px;
        background-size: 190px;
    }
    
    .cpqdPic {
        width: 190px;
        height: 380px;
        background-size: 190px;
    }
    
    .beaglePic {
        width: 190px;
        height: 380px;
        background-size: 190px;
    }
    
    .cetelemPic {
        width: 190px;
        height: 380px;
        background-size: 190px;
    }
    
    .olePic {
        width: 190px;
        height: 380px;
        background-size: 190px;
    }

    .magaluPic {
        width: 190px;
        height: 380px;
        background-size: 190px;
    }

    .projetosBox .proj {
        border-radius: 20px;
        width: 210px;
        margin: 25px 25px;
        height: fit-content;
        justify-content: center;
    }
}