@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

.relativeParent {
    position: relative;
    overflow-x: hidden;
}

ul {
    list-style: none;
    padding-left: 0px;
}

body {
    width: 100%;
    background-color: black;
}

body {
    font-family: 'Sen', sans-serif;
}

section ul a:link,
section ul a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.button a:link,
.button a:visited {
    text-decoration: none;
    color: white;
    margin: 20px 0px;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    justify-items: center;
    background-color: rgb(0, 68, 255);
}

.button a:hover {
    background-color: brown;
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.welcome p {
    color: white;
    margin-top: 20px;
}

.welcome nav {
    margin-top: 20px;
}

.welcome h1 {
    color: rgb(228, 60, 60);
    margin-top: 20px;
}

footer p {
    color: aqua;
    background-color: darkblue;
    font-size: small;
    padding-top: 15px;
}

footer {
    list-style: none;
    padding: 0px;
    background-color: darkblue;
    position: fixed;
    bottom: -95px;
    /*sempre que tiver position tem que definir a largura*/
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    transition: all 0.5s;
}

footer:hover {
    bottom: 0px;
}

footer ul li {
    display: inline-block;
}

footer a:link,
footer a:visited {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    background-image: url('../img/instaBlack.png');
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-top: 60px;
    font-family: 'Oswald';
    transition: 0.5s;
    border-top: 3px solid rgb(0, 68, 255);
}


footer a.medium {
    background-image: url('../img/medium.jpg');
    color: rgb(16, 189, 16);
    background-size: 35px;
}

footer a.link {
    background-image: url('../img/linkedinColor.png');
    color: rgb(39, 151, 207);
    background-size: 35px;
}

footer a.git {
    background-image: url('../img/github.png');
    color: rgb(218, 165, 32);
    background-size: 35px;
}

footer a.yb {
    background-image: url('../img/youtube.png');
    color: red;
    background-size: 35px;
}


/*Desktop*/
@media screen and (min-width:960px) {

    .welcome nav{
        display: flex;
        flex-direction: row;
    }

    .button {
        flex-direction: row;
    }

    .button li:first-child{
        margin-right: 20px;
    }

}

/*Tablet*/
@media screen and (min-width:720px) and (max-width:960px){

}