@import url('https://fonts.googleapis.com/css2?family=Sen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

* {
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    background-color: black;
}

header nav {
    padding: 20px 0px;
    background-color: black;
    letter-spacing: .2rem;
    font-size: small;
    width: 100%;
    justify-content: flex-center;
}

header ul {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0px;
    text-align: center;
}

header ul li {
    display: inline-block;
}

header ul a:link,
header ul a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

section ul a:link,
section ul a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.ouvir {
    display: flex;
    flex-direction: column-reverse;
}

.ouvir a:link,
.ouvir a:visited {
    text-decoration: none;
    color: white;
    margin: 20px 0px;
    display: flex;
    width: fit-content;
    border-radius: 10px;
    justify-items: center;
    background-color: rgb(0, 68, 255);
}

.ouvir a:hover{
    background-color: brown;
}

section nav ul li {
    list-style: none;
}

header ul a {
    background-color: rgb(0, 68, 255);
    margin: 10px;
}

.visibility {
    display: none;
}

.container {
    width: 300px;
    margin: auto;
}

.nameBox h1 {
    font-weight: bold;
    color: white;
    font-size: 28px;
    position: absolute;
}

.nameBox h1:hover {
    letter-spacing: .2rem;
    transition: 1500ms linear;
}

.backgrounds {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
}

.backgroundBlue {
    background-color: blue;
    width: 25%;
}

.backgroundBlack {
    background-color: black;
    width: 75%;
}

.absolute {
    display: flex;
    position: absolute;
}

.nameBox {
    width: 80%;
    height: fit-content;
    margin: 60px 0px;
    background-color: transparent;
}

.nameBox p {
    color: aqua;
    font-size: 13px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    margin-left: 65px;
    margin-top: 50px;
}

.fotoBox {
    width: 80%;
    margin: 150px 0px;
    height: fit-content;
    background-color: transparent;
}

body {
    font-family: 'Sen', sans-serif;
}

.fotoRosto {
    /*como colocar uma imagem circular com CSS*/
    width: 150px;
    height: 150px;
    border: 4px solid blue;
    background-size: 150px;
    background-position: center;
    position: absolute;
    background-repeat: no-repeat;
    border-radius: 50%;
    background-image: url('https://yt3.ggpht.com/ytc/AKedOLTNwDxyzEnX5rT7wtcNLZ0O4tTqfjdrEEgdFb77KCY=s900-c-k-c0x00ffffff-no-rj');

}

.oldPicZup {
    width: 200px;
    height: 200px;
    background-size: 200px;
    margin: auto;
    background-position: initial;
    background-repeat: no-repeat;
    background-image: url('../img/zup.jpg');
    border-radius: 50%;
}

.podcastPicBox {
    padding-top: 40px;
    align-self: center;
}

.podcastBox p{
    height: fit-content;
    padding: 10px 0px;
}


.podcast {
    width: 300px;
    height: 200px;
    background-size: 400px;
    margin: auto;
    border-radius: 15px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/podcast.jpg');
}

header ul a:link,
header ul a:visited {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 15px 20px;
}

.bradPic {
    width: 240px;
    height: 480px;
    border-radius: 15px;
    background-size: 240px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/bradesco.png');
}

.cpqdPic {
    width: 240px;
    height: 480px;
    border-radius: 15px;
    background-size: 240px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/cpqd.png');
}

.beaglePic {
    width: 240px;
    height: 480px;
    background-size: 240px;
    border-radius: 15px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/Beagle.jpg');
}

.cetelemPic {
    width: 240px;
    height: 480px;
    background-size: 240px;
    border-radius: 15px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/cetelem.jpg');
}

.olePic {
    width: 240px;
    height: 480px;
    border-radius: 15px;
    background-size: 240px;
    margin: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../img/ole.png');
}

.projetos div {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px 0px;
}


main section {
    padding: 0px;
    background-color: black;
    color: white;
}

section .resumo p {
    padding: 20px 0px;
}

section .resumo h1 {
    padding: 40px 0px;
    text-align: center;
    color: rgb(228, 60, 60);
}

section .podHacka h1 {
    padding: 40px 0px;
    text-align: start;
    color: rgb(228, 60, 60);
}

section .projetos h1 {
    padding: 40px 0px;
    text-align: center;
    color: rgb(228, 60, 60);
}

section .projetos h3 {
    padding: 10px 0px;
}

.fotoRosto:hover {
    background-size: 180px;
    border: 4px solid rgb(0, 110, 255);
    transform: rotate(-15deg);
    -webkit-transform: rotate(-15deg);
    transition: 4000ms linear;
}

img {
    padding-bottom: 20px;
    width: 100%;
}

main section:nth-child(3) {
    background-color: blue;
}

main section:nth-child(4) {
    padding-bottom:200px;
}

footer p{
    color: aqua;
    background-color: darkblue;
    font-size: small;
    padding-top: 15px;
    
    padding-left:50px;
}

footer {
    list-style: none;
    padding: 0px;
    background-color: darkblue;
    position: fixed;
    bottom: -95px;
    /*sempre que tiver position tem que definir a largura*/
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-items: center;
    transition: all 0.5s;
}

footer:hover {
    bottom: 0px;
}

footer ul li {
    display: inline-block;
}

footer a:link, footer a:visited {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: inline-block;
    background-image: url('../img/instaBlack.png');
    background-repeat: no-repeat;
    background-position: center 10px;
    padding-top: 60px;
    font-family: 'Oswald';
    transition: 0.5s;
    border-top: 3px solid rgb(0, 68, 255);
}


footer a.medium {
    background-image: url('../img/medium.jpg');
    color:rgb(16, 189, 16);
    background-size: 35px;
}

footer a.link {
    background-image: url('../img/linkedinColor.png');
    color: rgb(39, 151, 207);
    background-size: 35px;
}

footer a.git{
    background-image: url('../img/github.png');
    color: rgb(218, 165, 32);
    background-size: 35px;
}

footer a.yb {
    background-image: url('../img/youtube.png');
    color: red;
    background-size: 35px;
}



/*Desktop*/
@media screen and (min-width:1080px) {
    header img {
        content: url(../img/topoPC.jpg);
    }

    .container {
        width: 1200px;
        margin: auto;
    }

    header ul {
        text-align: right;
        justify-content: flex-end;
        flex-direction: row;
    }

    header h1 {
        font-size: 50px;
    }

    header h2 {
        font-size: 26px;
    }

    .nameBox h1 {
        font-size: 70px;
    }

    header nav {
        display: flex;
        position: absolute;
        background-color: transparent;
        justify-content: flex-end;
    }

    .fotoRosto {
        width: 300px;
        height: 300px;
        background-size: 300px;
        border: 8px solid blue;
    }

    .nameBox {
        display: flex;
        width: 1200px;
        margin: 80px 0px;
        align-self: flex-start;
        justify-self: center;
        background-color: transparent;
    }

    .fotoBox {
        display: flex;
        width: 1200px;
        margin: 190px 0px;
        align-content: flex-end;
        justify-self: center;
        background-color: transparent;
    }

    .fotoRosto:hover {
        background-size: 330px;
        border: 8px solid rgb(0, 110, 255);
    }

    .nameBox p {
        margin: 110px 380px;
        font-size: 18px;
    }

    .backgrounds {
        display: flex;
        flex-direction: row;
        height: 550px;
    }

    .resumo {
        display: flex;
        flex-flow: row nowrap;
    }

    .oldPicBox {
        width: 300px;
        margin-right: 40px;
        align-self: center;
    }

    .resumoBox {
        width: 900px;
        text-align: justify;
        margin-bottom: 40px;
    }

    .oldPicZup {
        width: 300px;
        height: 300px;
        background-size: 300px;
    }

    .podcast {
        width: 600px;
        height: 300px;
        background-size: 600px;
    }


    main section:nth-child(2) {
        margin-top: -150px;
    }

    main section .projetosBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .podHacka {
        display: flex;
        flex-flow: row-reverse nowrap;
    }

    .ouvir {
        flex-direction: row;
    }

    .ouvir li {
        margin-right: 20px;
    }
    
    footer {
        align-items: center;
    }
    
    footer:hover {
        bottom: 0px;
    }

    footer a:link, footer a:visited {
        color: white;
    }
    


    footer a.medium:hover {
        background-image: url('../img/medium.jpg');
        color:rgb(16, 189, 16);
        border-top: 3px solid rgb(16, 189, 16);
        background-size: 35px;
    }
    
    footer a.medium {
        background-image: url('../img/mediumBlack.png');
        background-size: 35px;
    }
    
    footer a.link:hover {
        background-image: url('../img/linkedinColor.png');
        color: rgb(39, 151, 207);
        border-top: 3px solid rgb(39, 151, 207);
        background-size: 35px;
    }
    
    footer a.link {
        background-size: 35px;
        background-image: url('../img/linkedinBlack.png');
    }
    
    
    footer a.git:hover {
        background-image: url('../img/github.png');
        color: rgb(218, 165, 32);
        border-top: 3px solid rgb(218, 165, 32);;
        background-size: 35px;
    }
    
    footer a.git {
        background-size: 35px;
        background-image: url('../img/githubBlack.png');
    }
    
    footer a.yb:hover {
        background-image: url('../img/youtube.png');
        color: red;
        border-top: 3px solid red
     
    }
    
    footer a.yb {
        background-image: url('../img/youtubeBlack.png');
    }
    
    header ul a:hover {
        background-color: rgb(0, 68, 255);
    }

    .projetos div {
        padding: 20px;
    }

    .podcastPicBox {
        width: 450px;
        margin-left: 40px;
    }

    header ul a {
        background-color: transparent;
    }
    
}